# Visual Studio build artifacts
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
*.user
*.aps
*.bak
*.cache
*.db
*.opendb
*.pchip
*.pdb
*.suo
*.tlog
*.idb
*.obj
*.pch
*.res
*.sbr
*.tlb
*.tlh
*.tli
*.tmp
*.vs
.vs/
ipch/
*.exe
*.dll
*.lib
*.exp
